PROJECT_NAME=movies

# App
APP_HOST=fastapi
APP_PORT=8000
DEFAULT_PAGE_SIZE=100
IS_DEBUG=True
LOGGING_LEVEL='INFO'

# Elasticsearch
#ELASTIC_HOST=127.0.0.1
ELASTIC_HOST=elastic
ELASTIC_PORT=9200
INDEX_MOVIES='movies'
INDEX_PERSON='person'
INDEX_GENRE='genre'

# Cache
#REDIS_HOST=127.0.0.1
REDIS_HOST=redis
REDIS_PORT=6379

# UVICORN
UVICORN_WORKERS=4