PROJECT_NAME=movies

# App
APP_HOST=0.0.0.0
APP_PORT=8000
DEFAULT_PAGE_SIZE=20
IS_DEBUG=True
LOGGING_LEVEL='INFO'

# Elasticsearch
ELASTIC_HOST=elastic
ELASTIC_PORT=9200
INDEX_MOVIES='movies'
INDEX_PERSON='person'
INDEX_GENRE='genre'

# Cache
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=123qwe

# CacheTTL
DEFAULT_TTL=5
MOVIES_TTL=5
PERSONS_TTL=5
GENRES_TTL=5

# UVICORN
UVICORN_WORKERS=4

# Tests
API_HOST=fastapi
API_PORT=8000
